div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
textarea {
  color: #333;
}
h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
  color: #999;
  font-size: 0.5em;
}
textarea {
  resize: none !important;
}
.pure-form-stacked .pure-button {
  display: block;
  margin: 0.25em 0;
  border: 1px solid transparent;
}
h2.section {
  border-bottom: 1px solid #333;
}
.pure-button-success {
  background-color: rgb(28, 184, 65);
  color: #fff;
}
.recipe-card {
  border: 1px solid #333;
  border-radius: 4px;
  margin: 2px;
  padding: 4px;
}
/**
 * Responsiveness
 */
@media only screen and (max-width: 480px) {
  .pure-form button[type=submit] {
    margin: 0;
  }
  h1 > small,
  h2 > small,
  h3 > small,
  h4 > small,
  h5 > small,
  h6 > small {
    display: block;
    width: 100%;
  }
}
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
textarea {
  color: #333;
}
h1 > small,
h2 > small,
h3 > small,
h4 > small,
h5 > small,
h6 > small {
  color: #999;
  font-size: 0.5em;
}
textarea {
  resize: none !important;
}
.pure-form-stacked .pure-button {
  display: block;
  margin: 0.25em 0;
  border: 1px solid transparent;
}
h2.section {
  border-bottom: 1px solid #333;
}
.pure-button-success {
  background-color: rgb(28, 184, 65);
  color: #fff;
}
.recipe-card {
  border: 1px solid #333;
  border-radius: 4px;
  margin: 2px;
  padding: 4px;
}
/**
 * Responsiveness
 */
@media only screen and (max-width: 480px) {
  .pure-form button[type=submit] {
    margin: 0;
  }
  h1 > small,
  h2 > small,
  h3 > small,
  h4 > small,
  h5 > small,
  h6 > small {
    display: block;
    width: 100%;
  }
}
